@model Rocky.Models.ApplicationType

    <form method="post" asp-action="Create">
        <div class="border p-3">
            <div class="form-group row">
                <h2 class="text-info pl-3">
                    Add Application Type
                </h2>
            </div>

            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            @*We are using the tag helper asp-for instead of the name directly
                            to be able to fetch details from annotations of Category model*@
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-8">
                            @*We are using the asp-for for input to automatically bind the object when wer return back
                            to the controller*@
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-4 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Create" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success w-100">
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    @* Keep this empty *@
                </div>
            </div>
        </div>
    </form>